        <section>

        <div class="container_travel">
            <figure class="img">
                <img src="/images/6.png" alt="travel girl">
            </figure>

    <div class="hidetext">
        <div class="travel">
                 <p>TRAVEL POINT</p>
            </div>

        <div class="second-text">
                 <h1>Lorem ipsum, catt oiyhgr hklop</h1>
             </div>

        <div class="statscontainer">
            <div class="firstcard">
                <h2 class="number1">500+</h2>
                <p class="party">Fiestas</p>
            </div>
         <div class="secondcard">
                <h2 class="number2">100</h2>
                <p class="hotel">Hoteles de lujo</p>
        </div>
    </div>
</div>
</section>