    <header class="city__hero">
        <h1>Top destino: <span>{=$cityname}</span></h1>
        <img src="{=$heroimg}" alt="{=$heroimg__alt}">
    </header>

    <section class="city__info">
        <p class="city__parr1">{=$parr1}</p>

        <img class="city__foto1" src="{=$foto1}" alt="{=$foto1__alt}">
        
        <p class="city__parr2">{=$parr2}</p>

        <img class="city__foto2" src="{=$foto2}" alt="{=$foto2__alt}">

        <p class="city__parr3">{=$parr3}</p> 
    </section>

    <section class="city__about">
        <h3>Sobre <span>mí</span></h3>

        <div class="city__about-apartado">
            <p class="abouttext">{=$abouttext}</p>
            <img class="city__foto3" src="{=$foto3}" alt="{=$foto3__alt}">
        </div>
    </section>

    <section class="city__other">
        <p>{=$othertext}</p>
    </section>

