<section class="page__contact">

<div class="page-contact__container">
    <form class="page-contact__form" action="https://formspree.io/f/xgvrerbz" method="post">
        <h2 class="contact-form__title">suscríbete</h2>
        <input class="contact-form__input" id="email" type="email" name="email" placeholder="email" required>
        <input class="contact-form__input" id="nombre" type="text" name="nombre" placeholder="Nombre" required>
        <input class="contact-form__input" id="comentario" type="text" name="comentario" placeholder="comentario" required maxlength="100">
        <button type="submit" class="button">Enviar</button>
    </form>
    <div class="page-contact__map">
        <iframe class="contact-map__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d388698.497503446!2d-4.0091883682359954!3d40.4374861340794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422997800a3c81%3A0xc436dec1618c2269!2sMadrid!5e0!3m2!1ses!2ses!4v1762716667952!5m2!1ses!2ses" 
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</section>