<section class="servicios">
 
     <div class="servicios__imagen">
                <img src="/images/7.png" alt="Paraíso en la tierra. Una iglesia en un campo otoñal. Un chico haciendo surf.">
    </div>

    <div class="servicios__titular">
        <p>LOREM</p>
        <h2>Mejores servicios</h2>
    </div>

    <div class="servicios__contenido">
        <div class="card">
            <div class="card__uno">
                <div class="dibujo">
                    <img class="dibujo__a" src="/images/section3_location.svg" alt="Pin de ubicación">
                </div>

                <div class="textoint">
                    <h4>Lorem</h4>
                    <p>It is a truth universally acknowledged,</p>
                </div>
            </div>
        
            <div class="card__dos">
                <div class="dibujo">
                    <img class="dibujo__b" src="/images/section3_calendar.svg" alt="Calendario">
                </div>
                
                <div class="textoint">
                    <h4>Lorem</h4>
                    <p>that a single man in possession of a good fortune,</p>
                </div>
            </div>

            <div class="card__tres">
                <div class="dibujo">
                    <img class="dibujo__c" src="/images/section3_ticket.svg" alt="Ticket">
                </div>

                <div class="textoint">
                    <h4>Lorem</h4>
                    <p>must be in want of a wife.</p>
                </div>
            </div>
           
        </div>

    </div>

</section>