<section>
    <div id="top-destinos" class="container-top-destination">
        <h3 class="title"> TOP DESTINATION</h3>
        <div class="container-image">
            <figure class="image">
                <a href="../city-lucena.html"><img class="lucena" src="images/lucena.jpg" alt="lucena"></a>
                <div class="container-img-from">
                    <p class="from">Lucena</p>
                    <p class="name">Maddie</p>
                </div>
            </figure>
            <figure class="image">
                <a href="../city-mallorca.html"><img class="mallorca" src="images/mallorca.jpeg" alt="imagen-mallorca"></a>
                <div class="container-img-from">
                    <p class="from">Mallorca</p>
                    <p class="name">Nidia</p>
                </div>
            </figure>
            <figure class="image">
                <a href="../city-gijon.html"><img class="gijon" src="images/gijon.jpg" alt="gijon"></a>
                <div class="container-img-from">
                    <p class="from">Gijon</p>
                    <p class="name">Cristina</p>
                </div>
            </figure>
            <figure class="image">
                <a href="../city-sevilla.html"><img class="sevilla" src="images/sevilla.jpg" alt="sevilla"></a>
                <div class="container-img-from">
                    <p class="from">Sevilla</p>
                    <p class="name">Yiyi</p>
                </div>
            </figure>
        </div>      
    </div>
</section>